node_modules
dist
.env
.env.*
!.env.example
.DS_Store
vendor
storage/*.key
.idea
.vscode
public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.env.production
backend/public/storage
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore

# Frontend specific
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.development

# Production
*.sql
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log*
